<div align="right">
    <a href="javascript:void(0)" (click)="close()">
                <span class="glyphicon glyphicon-remove"></span></a>
</div>

<h4 mat-dialog-title>Log In to your Intelligent Draw Account</h4>
<mat-dialog-content>
    <form class="example-form" (ngSubmit) = "login(f)" #f="ngForm">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Email Address" ngModel name='username'   required >
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password"  [type]="'password'" ngModel name='password' required>
        </mat-form-field>
        
        <br>
        <br>
     
         <button mat-button   class="btn btn-info btn-lg"  [disabled]='!f.valid'>Log In</button>
         <br>
         <br>
         Or <a href="#">Forgot Password</a>
         
         <hr width='100%'/>
         
         Don't have an account? <a href="#">Sign Up</a>
         
      </form>
</mat-dialog-content>