

<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"><a routerLink="/new"><span class="glyphicon glyphicon-plus"></span> New</a></div>
        <div class="col-sm-2"><a routerLink="/open"><span class="glyphicon glyphicon-folder-open"></span> Open existing</a></div>
        <div class="col-sm-2"><a routerLink="/recent"><span class="glyphicon glyphicon-folder-open"></span> Open recent</a></div>
        <div class="col-sm-2"><a routerLink="/import"><span class="glyphicon glyphicon-import"></span> Import</a></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
    </div>
</div>