

<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"><a routerLink="/new"><span class="glyphicon glyphicon-plus"></span><br> <b>New</b> </a></div>
        <div class="col-sm-1"><a routerLink="/open"><span class="glyphicon glyphicon-folder-open"></span><br> <b>Open</b></a></div>
        <div class="col-sm-1"><a routerLink="/import"><span class="glyphicon glyphicon-import"></span><br> <b>Import</b></a></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
    </div>
</div>