<app-header></app-header>
<app-sidebar></app-sidebar>


<div class="container-fluid text-center">     
    <h2>Start new drawings</h2>
    <br>    
    <div class="row content">

        <div class="row">
            <div class="col-sm-12"><br><br></div>
        </div>

        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"><img width=600 height=150 src="/assets/frontad.png"></div>
            <div class="col-sm-4"></div>

        </div>

        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <br>
                <button mat-raised-button  class="btn btn-info btn-lg"  (click)="openUsecaseDialog()">Draw Use Case diagram</button>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>
<app-footer></app-footer>
